*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.body{
 font-family: "Inter", sans-serif;}
 

.nav-bar{
  display: flex;
  align-items:center;
  justify-content: space-between;
margin: 0 auto;
width: 100%;
gap: 24px;
}